<!DOCTYPE html>
<html>
<head>
  <title>AI Dating Chatbot</title>
  <link rel="icon" href="{{ url_for('static', filename='favicon-32x32.png') }}?v=2">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div class="selection-container">
    <h1>Welcome to the Dating Practice Chat 💕</h1>
    <p>Practice chatting with a virtual avatar and improve your dating skills!</p>
    <form action="/select" method="GET">
        <button type="submit" class="new-chat-btn-small">Start</button>
    </form>    
  </div>
</body>
</html>
